<rpc>
    <edit-config>
        <target>
            <candidate/>
        </target>
        <config-text>
            <configuration-text>
                {{ .srx340_config }}
            </configuration-text>
        </config-text>
    </edit-config>
</rpc>
]]>]]>
